<footer class="container-fluid shadow">
    <div class="row bg-dark text-white py-3">
        <div class="col-lg-4 orange-text lato-font vertical-center-footer">
            <p class="d-flex justify-content-center">Made for the purposes of Web Development 2</p>
            <p class="d-flex justify-content-center">by Artur Nowakowski &copy; 2022</p>
        </div>
        <div class="col-lg-4 lato-font teal-blue-text vertical-center-footer">
            <p class="d-flex justify-content-center">You can find us here:</p>
            <p class="d-flex justify-content-center">Cowcaddens Rd, Glasgow G4 0BA</p>
            <hr class="footer-hr">
            <p class="d-flex justify-content-center">Call for reservation:</p>
            <p class="d-flex justify-content-center">01234 567890</p>
        </div>
        <div class="col-lg-4 vertical-center-footer">
            <p class="d-flex justify-content-center orange-text lato-font mb-0">Quick links</p>
            <a href="/" class="d-flex justify-content-center">Home</a>
            <a href="/menu" class="d-flex justify-content-center">Menu</a>
            <a href="/about_us" class="d-flex justify-content-center">About us</a>
            {{^user}}
            <a href="/staff_login" class="d-flex justify-content-center">Staff</a>
            {{/user}}
        </div>
    </div>
</footer>
<script src="/js-bootstrap/bootstrap.bundle.min.js"></script> {{!Bootstrap bundle}}