<form class="bg-dark text-white py-4 px-4 mx-4 rounded" method="post" action="/staff_login">
    <div class="form-group my-2">
        <label for="username" class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="username" name="username" placeholder="Please enter your username">
        </div>
    </div>
    <div class="form-group my-2">
        <label for="password" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-12">
            <input type="password" class="form-control" id="password" name="password" placeholder="Please enter your password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12 mt-3">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <button type="reset" class="btn btn-secondary mx-3">Reset</button>
        </div>
    </div>
</form>