<div class="col-xl-10 order-xl-1">
    <div class="jumbotron jumbotron-fluid my-4 px-2 py-3 shadow">
        <div class="container">
            <h1 class="display-4">Welcome to restaurant</h1>
            <p class="lead">We are a small restaurant that takes the effort to source fresh local produce. Visit us to taste the constantly changing menu developed by our magnificent chefs.</p>
        </div>
    </div>
</div>