<!DOCTYPE html>
<html lang="en">
<head>
    {{>partials/header}}
    <title>Lunch menu</title>
</head>
<body>
    {{>partials/navbar}}
    <div class="container container-customised py-5">
        <div class="row">
            <!-- APPETIZERS COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/dinner_menu/dinner_appetizers">Appetizers</a></p>
                </div>
            </div>
            <!-- EOF APPETIZERS COLUMN -->

            <!-- SIDES COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/dinner_menu/dinner_sides">Sides</a></p>
                </div>
            </div>
            <!-- EOF SIDES COLUMN -->
        </div>

        <div class="row">
            <!-- MAIN COURSE COLUMN -->
            <div class="col-12">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/dinner_menu/dinner_main_course">Main Course</a></p>
                </div>
            </div>
            <!-- EOF MAIN COURSE COLUMN -->
        </div>

        <div class="row">
            <!-- DESSERTS COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/dinner_menu/dinner_desserts">Desserts</a></p>
                </div>
            </div>
            <!-- EOF SANDWICHES COLUMN -->

            <!-- BEVERAGES COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/dinner_menu/dinner_beverages">Beverages</a></p>
                </div>
            </div>
            <!-- EOF BEVERAGES COLUMN -->
        </div>
    </div>
    {{>partials/footer}}
</body>
</html>