<footer>
    <div class="row bg-dark text-white py-3">
        <div class="col-4 d-flex justify-content-center">
            <p>p1</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <p>p2</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <p>p3</p>
        </div>
    </div>
</footer>