<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Lunch menu</title>
</head>
<body>
    {{>navbar}}
    <div class="container container-customised py-5">
        <div class="row">
            <!-- LUNCH SPECIALS COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/lunch_menu/lunch_specials">Lunch Specials</a></p>
                </div>
            </div>
            <!-- EOF LUNCH SPECIALS COLUMN -->

            <!-- SANDWICHES COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/lunch_menu/lunch_sandwiches">Sandwiches</a></p>
                </div>
            </div>
            <!-- EOF SANDWICHES COLUMN -->
        </div>
        <div class="row">
            <!-- SANDWICHES COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/lunch_menu/lunch_salads">Salads</a></p>
                </div>
            </div>
            <!-- EOF SANDWICHES COLUMN -->

            <!-- BEVERAGES COLUMN -->
            <div class="col-6">
                <div class="card">
                    <p class="d-flex justify-content-center">View our <a href="/lunch_menu/lunch_beverages">Beverages</a></p>
                </div>
            </div>
            <!-- EOF BEVERAGES COLUMN -->
        </div>
    </div>
    {{>footer}}
</body>
</html>