<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Homepage</title>
</head>
<body>
    {{>navbar}}
    <div class="container container-customised py-5">
        <div class="row">
            <h1 class="d-flex justify-content-center">Staff Screen</h1>
            <div class="d-flex flex-column bg-dark py-3 px-3">
                <button type="button" class="btn btn-primary btn-lg btn-block my-1" onclick="window.location.href='/staff_new_dish'">Add a new dish</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-1" onclick="window.location.href='/staff_edit_menu'">Update the menu</button>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>