<!DOCTYPE html>
<html lang="en">
<head>
    {{>partials/header}}
    <title>Remove Lunch Menu Dish</title>
</head>
<body>
    <div class="bg">
        {{>partials/navbar}}
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <button type="button" class="slide_from_right btn-lg shadow" onclick="window.location.href='/staff_edit_menu_remove'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path></svg>
                        <div class="pt-1">Go back</div>
                    </button>
                </div>
            </div>
            <div class="wrapper">
                <h5 class="d-flex justify-content-center">Lunch Menu</h5>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <form method="post" role="form" id="remove-dish-form" class="bg-dark text-white my-2 shadow needs-validation" novalidate>
                        <h5 class="d-flex justify-content-center">Remove dish</h5>
                        <div class="form-group my-2 mx-4">
                            <label class="py-2" for="dish_name">Dish name:</label>
                            <input type="text" class="form-control" id="dish_name" name="dish_name" placeholder="Enter dish name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide dish name.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-4 mt-2 mx-4">Remove dish</button>
                        <button type="reset" class="btn btn-secondary mb-4 mt-2">Reset</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="wrapper">
                        <div class="table">
                          <div class="table-row header">
                            <div class="cell">
                                Dish name:
                            </div>
                            <div class="cell">
                                Description:
                            </div>
                            <div class="cell">
                                Ingredients:
                            </div>
                            <div class="cell">
                                Allergens:
                            </div>
                            <div class="cell">
                                Price:
                            </div>
                          </div>
                          {{#lunch_menu}}
                            <div class="table-row">
                                <div class="cell" data-title="dish name">
                                    {{dish_name}}
                                </div>
                                <div class="cell" data-title="description">
                                    {{dish_description}}
                                </div>
                                <div class="cell" data-title="ingredients">
                                    {{dish_ingredients}}
                                </div>
                                <div class="cell" data-title="allergens">
                                    {{dish_allergens}}
                                </div>
                                <div class="cell" data-title="price">
                                    &#163;{{dish_price}}
                                </div>
                            </div>
                          {{/lunch_menu}}            
                        </div>
                        {{^lunch_menu}}
                            <div class="alert alert-info" role="alert">
                                No entries yet.
                            </div>
                        {{/lunch_menu}}
                    </div>
                </div>
            </div>
        </div>
        {{>partials/footer}}
        <script src="/js/validation.js"></script>
    </div>
</body>
</html>