<!DOCTYPE html>
<html lang="en">
<head>
    {{>partials/header}}
    <title>Homepage</title>
</head>
<body>
    {{>partials/navbar}}
    <div class="container container-customised py-5">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="card card-menu">
                    <img class="card-img-top" src="/img/menu-card/bread_with_avocado_and_egg.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lunch menu</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/staff_lunch_menu_edit" class="btn btn-primary">Update Lunch Menu dishes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="card card-menu">
                    <img class="card-img-top" src="/img/menu-card/steak_with_chips.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dinner menu</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/staff_dinner_menu_edit" class="btn btn-primary">Update Dinner Menu dishes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>partials/footer}}
</body>
</html>