<!DOCTYPE html>
<html lang="en">
<head>
    {{>partials/header}}
    <title>Homepage</title>
</head>
<body>
    {{>partials/navbar}}
    <div class="container container-customised py-5">
        <div class="row">
            <div class="d-flex flex-column bg-dark py-3 px-3">
                <button type="button" class="btn btn-primary btn-lg btn-block my-1" onclick="window.location.href='/staff_screen'">Go back to staff screen</button>
                <button type="button" class="btn btn-primary btn-lg my-1" onclick="window.location.href='/staff_edit_dish'">Edit dish</button>
            </div>
        </div>
    </div>
    {{>partials/footer}}
</body>
</html>